<a href="https://colab.research.google.com/github/Mythreyan18/WebScrap/blob/main/DS1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
from bs4 import BeautifulSoup as bs

In [ ]:
url='https://www.amazon.in/Samsung-Phantom-Storage-Additional-Exchange/product-reviews/B09SH994JW/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews'
page=requests.get(url)
page

In [ ]:
soup=bs(page.content,'html.parser')

In [ ]:
names=soup.find_all('span',class_='a-profile-name')[2:]

In [ ]:
import pandas as pd
df=pd.DataFrame(names,columns={'Customer Name'})
df

     Customer Name
0              3SA
1     Aryan Sharma
2     Sanjay Joshi
3  Chirag Sardhara
4            Nandu
5            Rohit
6  Mohammed Waseem
7       Aditya V D
8            Sunil
9  Sanmitra Barman

In [ ]:
#To drop duplicates
df=df.drop_duplicates(ignore_index=True)

In [ ]:
r_title=soup.find_all('a',class_='review-title')

In [ ]:
len(r_title)

10

In [ ]:
review_title=[]
for i in range(0,len(r_title)):
  review_title.append(r_title[i].get_text()[1:-1])

In [ ]:

df['Review']=review_title
df

     Customer Name                                             Review
0              3SA                  The best phone for photography...
1     Aryan Sharma          Android doesn't get any better than this.
2     Sanjay Joshi       A great phone to restart broken relationship
3  Chirag Sardhara  Beyond expectations. A true flagship. Samsung ...
4            Nandu                                          Great buy
5            Rohit  Battery life needs to be better and I received...
6  Mohammed Waseem                                     Awesome Device
7       Aditya V D  Flagship | I-Phone Killer (Updated after recei...
8            Sunil                          Battery life is not good!
9  Sanmitra Barman         Paid a premium price, got a premium phone.